---
import Nav from "../components/Nav.astro";
import Cart from "../components/Cart.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>dessert</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0"
    />
  </head>
  <body>
    <Nav />
    <div class="block lg:flex lg:justify-center lg:gap-[20px] lg:my-4">
      <div class="lg:flex lg:flex-col lg:justify-center lg:w-[620px]">
        <div
          class="flex justify-center items-center text-2xl font-semibold text-Mycolor-green bg-Mycolor-lightgreen h-[65px]"
        >
          您的購物車
        </div>
        <Cart
          img="https://bit.ly/2QvsT63"
          title="鮮莓果優格"
          price={450}
          total={900}
        />
        <Cart
          img="https://bit.ly/2zBDAxX"
          title="鮮草莓蛋糕"
          price={450}
          total={900}
        />
        <Cart
          img="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/p-3.png?raw=true"
          title="莓大莓小塔"
          price={450}
          total={900}
        />
      </div>
      <!--訂單摘要 -->
      <div class="col-span-12 lg:col-span-4 lg:block lg:w-[300px] mt-[30px] lg:mt-0">
        <ul class="px-6 md:px-[3.75px] lg:bg-Mycolor-green lg:px-[20px]">
          <h2
            class="mb-[30px] flex justify-center items-center h-[65px] border-b bg-Mycolor-lightgreen text-center text-2xl font-semibold text-Mycolor-green lg:bg-Mycolor-green lg:text-Mycolor-white lg:border-Mycolor-lightgreen"
          >
            訂單摘要
          </h2>
          <li
            class="md-1.75 flex justify-between font-light text-Mycolor-green lg:text-Mycolor-lightgreen lg:bg-Mycolor-green"
          >
            <p>小計</p>
            <span>NT$2700</span>
          </li>
  
          <li
            class="mb-3.5 flex justify-between font-light text-Mycolor-green lg:text-Mycolor-lightgreen lg:bg-Mycolor-green"
          >
            <p>運費</p>
            <span>NT$3000</span>
          </li>
          <li
            class="flex justify-between pb-3.5 text-xl font-semibold text-Mycolor-green lg:text-Mycolor-lightgreen lg:bg-Mycolor-green"
          >
            <p>總計</p>
            <span>NT$3000</span>
          </li>
        </ul>
        <div
        class="flex justify-center items-center h-[65px] text-Mycolor-green bg-Mycolor-yellow text-2xl font-semibold"
        >
          <a href="http://localhost:4321/check1">結帳</a>
        </div>
      </div>
    </div>
  </body>
  <Footer />
</html>
