---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Timeline from "../components/Timeline.astro";
import Checkorder from "../components/Checkorder.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>dessert</title>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,500,0,0"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <body>
    <Nav />

    <div class="col-span-12 lg:col-span-6">
      <div class="w-full bg-Mycolor-green p-6 text-Mycolor-lightgreen lg:px-8">
        <div class="mb-6 mt-4 ml-1 flex items-center justify-between">
          <h2 class="text-4xl font-semibold">付款</h2>
          <Timeline
            span1="material-symbols-outlined"
            circle1="check_circle"
            span2="material-symbols-outlined"
            circle2="radio_button_checked"
            span3="material-symbols-outlined"
            circle3="circle"
          />
        </div>
      </div>

      <form class="text-Mycolor-lightgreen bg-Mycolor-green text-xl gap-4 p-6">
        <div>
          <div class="flex gap-x-2">
            <label for="card" class="w-full">
              <p class="mb-2">信用卡卡號</p>
              <input
                type="text"
                id="card"
                placeholder="1209-3456-7890-4321"
                class="mb-3.5 mt-1.75 block h-14 pl-4 w-full text-Mycolor-green"
              />
            </label>
          </div>
          <label for="card" class="w-full">
            <p class="mb-2">持卡人姓名</p></label
          >
          <div class="flex gap-x-2 mb-2">
            <input
              type="text"
              id="lastname"
              placeholder="王"
              class="mt-1.75 block pl-4 h-14 w-full text-Mycolor-green"
            />
            <input
              type="text"
              id="name"
              placeholder="小明"
              class="mt-1.75 block pl-4 h-14 w-full text-Mycolor-green"
            />
          </div>
          <label class="mt-1.75 flex gap-4"><p class="my-2">有效期限</p></label>
          <div class="relative w-full flex justify-between">
            <select
              name="address"
              class="h-14 pl-4 w-[49%] text-Mycolor-ordergreen"
            >
              <option value="month">月</option>
              <option value="jun">01</option>
              <option value="feb">02</option>
              <option value="mar">03</option>
            </select>
            <select
              name="address"
              class="h-14 pl-4 w-[49%] text-Mycolor-ordergreen"
            >
              <option value="year">年</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option>
              <option value="2026">2026</option>
            </select>
          </div>
          <label class="mt-1.75 flex gap-4"
            ><p class="my-2">背面末三碼</p></label
          >
          <input
            type="number"
            id="number"
            placeholder="123"
            class="mt-1.75 block pl-4 h-14 w-[49%] text-Mycolor-ordergreen"
          />
        </div>
      </form>

      <a
        href="http://localhost:4321/check3-1"
        class="flex justify-center items-center bg-Mycolor-yellow text-Mycolor-green font-semibold text-2xl h-16"
      >
        下一步
      </a>
      <!--訂單摘要 -->
      <div class="hidden lg:col-span-4 lg:block">
        <Checkorder /><!--插入訂單＆購物清單 -->
      </div>
    </div>

    <Footer />
  </body>
</html>
