---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>dessert</title>
  </head>
  <Nav />
  <div
    class="bg-[url('https://bit.ly/2P7GhNd')] h-[518px] flex flex-col items-center bg-cover bg-center bg-no-repeat md:[h-[460px]]"
  >
  </div>
  <a
    href="http://localhost:4322/"
    class="flex justify-center items-center bg-Mycolor-yellow text-Mycolor-green font-semibold text-2xl h-16"
  >
    繼續逛逛
  </a>
  <Footer />


</html>
