---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Indexcard from "../components/Indexcard.astro";
import Card from "../components/Card.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>dessert</title>
  </head>
  <body>
    <Nav />
    <!--banner -->
    <section class="px-0 md:px-6 lg:px-0">
      <div
        class="bg-[url('https://bit.ly/2OhbMHr')] h-[277px] truncate w-full bg-cover bg-center bg-no-repeat md:h-[496px]"
      >
      </div>
      <section
        class="w-full justify-center px-0 md:px-6 lg:flex lg:px-0 bg-Mycolor-green text-Mycolor-white text-xl font-light"
      >
        <ul class="flex justify-center items-center lg:mt-1 lg:w-[780px]">
          <li
            class="w-1/3 bg-[url('https://bit.ly/2R5tqwD')] bg-cover bg-center bg-no-repeat h-[180px] relative block"
          >
            <a
              href="/product"
              class="vertical-writing-rl tracking-[0.3em] absolute top-0 left-0 w-full h-full flex justify-center items-center opacity-80 backdrop:blur-sm text-Mycolor-white hover:text-Mycolor-green bg-Mycolor-green hover:bg-Mycolor-yellow transition-colors text-xl font-semibold"
              >本日精選</a
            >
          </li>
          <li
            class="w-1/3 bg-[url('https://bit.ly/2Dwoxd7')] bg-cover bg-center bg-no-repeat h-[180px] relative block border-z border-x border-Mycolor-white"
          >
            <a
              href="/product"
              class="vertical-writing-rl tracking-[0.3em] absolute top-0 left-0 w-full h-full flex justify-center items-center opacity-80 backdrop:blur-sm text-Mycolor-white hover:text-Mycolor-green bg-Mycolor-green hover:bg-Mycolor-yellow transition-colors text-xl font-semibold"
              >人氣推薦</a
            >
          </li>
          <li
            class="w-1/3 bg-[url('https://bit.ly/2OUteif')] bg-cover bg-center bg-no-repeat h-[180px] relative block"
          >
            <a
              href="/product"
              class="vertical-writing-rl tracking-[0.3em] absolute top-0 left-0 w-full h-full flex justify-center items-center opacity-80 backdrop:blur-sm text-Mycolor-white hover:text-Mycolor-green bg-Mycolor-green hover:bg-Mycolor-yellow transition-colors text-xl font-semibold"
              >新品上市</a
            >
          </li>
        </ul>
      </section>
    </section>

    <!--區塊 -->
    <section class="w-full relative">
      <div class="flex flex-col lg:gap-[60px]">
        <Indexcard
          heading="./imge/sm-橫-做甜點.svg"
          headinglg="./imge/lg-為什麼選擇了做甜點.svg"
          img="https://bit.ly/2xPn7Eq"
          reverse
        >
          青山依舊在，幾度夕陽紅。慣看秋月春風。一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
          是非成敗轉頭空，青山依舊在，幾度夕陽紅。白髮漁樵江渚上，古今多少事，都付笑談中。
        </Indexcard>
        <Indexcard
          heading="./imge/sm-橫-吃甜點.svg"
          headinglg="./imge/lg-為什麼一定要吃甜點.svg"
          img="https://bit.ly/2zzAQS4"
        >
          青山依舊在，幾度夕陽紅。慣看秋月春風。一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
          是非成敗轉頭空，青山依舊在，幾度夕陽紅。白髮漁樵江渚上，古今多少事，都付笑談中。
        </Indexcard>
      </div>
      <div>
        <img src="./imge/sm-橫-理由.svg" class="h-16 my-8 w-full" />
      </div>
      <div class="px-7 pb-8">
        <Card
          img="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/p-2.png?raw=true"
          title="焦糖甜甜圈"
          price={450}
        />
      </div>
      <Footer />
    </section>
  </body>
</html>
