---
import BannerItem from "./BannerItem.astro";
---

<div
  class="lg:w-[300px] block lg:hidden bg-Mycolor-green text-white border-solid text-2xl py-4 font-semibold text-center"
>
  甜點類別
</div>
<ul
  class="lg:w-[300px] flex flex-col justify-center items-stretch lg:mt-[30px] font-semibold bg-Mycolor-lightgreen gap-[1px] border border-Mycolor-lightgreen"
>
  <div
  class="hidden lg:block bg-Mycolor-green text-white border-solid text-2xl py-4 font-semibold text-center"
  >
  甜點類別
  </div>
  <BannerItem href="#" active>所有甜點(48)</BannerItem>
  <BannerItem href="#">本日精選(10)</BannerItem>
  <BannerItem href="#">人氣推薦(26)</BannerItem>
  <BannerItem href="#">新品上市(12)</BannerItem>
</ul>
