---
import BannerItem from "./BannerItem.astro";
---

<img
  src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/banner.png?raw=true"
  alt="banner"
/>
<div class="bg-Mycolor-green text-white border-solid text-2xl py-4 font-semibold text-center">甜點類別</div>
<ul
  class="flex flex-col justify-center items-stretch m-auto font-semibold bg-Mycolor-lightgreen gap-[1px] border border-Mycolor-lightgreen"
>
  <BannerItem href="#" active>所有甜點(48)</BannerItem>
  <BannerItem href="#">本日精選(10)</BannerItem>
  <BannerItem href="#">人氣推薦(26)</BannerItem>
  <BannerItem href="#">新品上市(12)</BannerItem>
</ul>
