<div
  class="mb-4 border border-Mycolor-lightgreen text-Mycolor-ordergreen bg-Mycolor-white"
>
  <h3 class="text-center text-2xl font-semibold bg-Mycolor-lightgreen">
    訂單摘要
  </h3>
  <ul class="px-4 py-3.5">
    <li class="flex justify-betweenv font-light mb-3.5">
      <p>小計</p><span>NT$2700</span>
    </li>
    <li class="flex justify-betweenv font-light mb-3.5">
      <p>運費</p><span>NT$300</span>
    </li>
    <li class="flex justify-between font-semibold text-xl">
      <p>總計</p><span>NT$3000</span>
    </li>
  </ul>
</div>
<div
  class="mb-4 border border-Mycolor-lightgreen text-Mycolor-ordergreen bg-Mycolor-white"
>
  <h3 class="text-center text-2xl font-semibold bg-Mycolor-lightgreen">
    購物清單
  </h3>
  <ul class="px-4 py-3.5">
    <li class="flex justify-between items-center mb-3.5">
      <div
        class="h-20 w-32 bg-[url('https://bit.ly/2QvsT63')] bg-cover bg-center bg-no-repeat"
      >
      </div>
      <div>
        <p class="text-base font-light">鮮莓果優格</p>
        <p class="text-xl font-semibold">NT$900</p>
      </div>
    </li>
    <li class="flex justify-between items-center mb-3.5">
      <div
        class="h-20 w-32 bg-[url('https://bit.ly/2zBDAxX')] bg-cover bg-center bg-no-repeat"
      >
      </div>
      <div>
        <p class="text-base font-light">鮮草莓蛋糕</p>
        <p class="text-xl font-semibold">NT$900</p>
      </div>
    </li>
    <li class="flex justify-between items-center mb-3.5">
      <div
        class="h-20 w-32 bg-[url('https://bit.ly/2zKOP7w')] bg-cover bg-center bg-no-repeat"
      >
      </div>
      <div>
        <p class="text-base font-light">莓大莓小塔</p>
        <p class="text-xl font-semibold">NT$900</p>
      </div>
    </li>
  </ul>
</div>
