<footer>
  <div>
    <div
      class="flex justify-center items-center bg-Mycolor-green flex-wrap p-6 gap-[20px]"
    >
      <img
        src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/student-week1/logo-light.svg"
        alt="logo-light"
        class="w-10 h-10"
      />
      <h3 class="text-white mr-8 text-2xl">訂閱你我的甜蜜郵件</h3>

      <div class="w-full flex items-stretch bg-Mycolor-blue h-[56px]">
        <div class="flex justify-center items-center">
          <img
            class="w-[24px] h-[24px] mx-[16px]"
            src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/mail-24px.png?raw=true"
            alt="email"
          />
        </div>

        <input class="grow bg-transparent" type="email" name="email" />
        <a
          href="#"
          class="bg-Mycolor-yellow w-[56px] flex justify-center items-center"
          ><img
            src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/arrow_forward-24px.png?raw=true"
            alt="arrow-forward"
          />
        </a>
      </div>
    </div>
    <div class="flex flex-col text-Mycolor-green pl-8 bg-Mycolor-lightgreen">
      <img
        src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/student-week1/logotype-sm-dark.svg"
        alt="logotype"
        class="w-44 h-7 gap-4 my-10"
      />
      <p>07-1234-5678800</p>
      <p>sweetaste@email.com</p>
      <p>高雄市新興區幸福路 520 號</p>
      <div class="flex gap-3 my-3">
        <img
          src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/student-week1/ic-line%40.svg"
          alt="line"
          class="w-8 h-8"
        />
        <img
          src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/student-week1/ic-facebook.svg"
          alt="fecebok"
          class="w-8 h-8"
        />
      </div>
      <p class="font-serif">© 2018 Sweetaste* All Rights Reserved</p>
    </div>
  </div>
</footer>
