---
interface Props {
  img: string;
  heading: string;
}
const { img, heading} = Astro.props;
---

<div
  class="flex flex-col items-center lg:h-[420px] lg:flex-row lg:justify-between lg:bg-Mycolor-lightgreen"
>
  <img src={heading} class="h-16 my-8 w-full" />
  <img src={img} alt="dessert" class="w-full h-[250px] object-cover mx-8" />
  <p class="px-[30px] bg-Mycolor-lightgreen lg:bg-transparent text-Mycolor-ordergreen font-light leading-8 whitespace-pre-wrap">
    <slot/>
  </p>
</div>
