---
interface Props {
  img: string;
  title: string;
  heading: string;
}
const { img, title, heading } = Astro.props;
---

<div
  class="flex flex-col items-center lg:h-[420px] lg:flex-row lg:justify-between"
>
  <img src={heading} alt="heading-title" class="h-16 m-8" />
  <img src={img} alt="dessert" class="w-full h-[250] mx-8" />
  <p class="p-12 bg-Mycolor-lightgreen">{title}</p>
</div>
