<div class="w -full">
  <header>
    <div class="flex justify-around items-center h-20 lg:hidden">
      <a href="#"
        ><img
          src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/dehaze-24px.png?raw=true"
          alt="dehaze"
        /></a
      >

      <a href="http://localhost:4322/"
        ><img
          src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/student-week1/logotype-sm-dark.svg"
          alt="logotype"
          class="w-28"
        /></a
      >
      <a href="#"
        ><img
          src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/shopping_cart.png?raw=true"
          alt="shopping_cart"
        /></a
      >
    </div>

    <!-- md -->
    <div
      class="hidden px-11 lg:flex lg:items-center lg:justify-between lg:h-16"
    >
      <a href="#">
        <img
          src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/student-week1/logo-all-dark.svg"
          alt="logo"
          class="hidden md:flex h-10 w-[219px]"
        />
      </a>
      <ul
        class="flex gap-12 font-semibold text-Mycolor-green text-base pl-[30%]"
      >
        <li><a href="#">首頁</a></li>
        <li><a href="#">甜點</a></li>
        <li><a href="#">登入</a></li>
      </ul>
      <a href="#">
        <img
          src="https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/shopping_cart.png?raw=true"
          alt="shopping_cart"
        /></a
      >
    </div>
  </header>
</div>
